#board
  position relative
  margin-top -2rem
  padding 3rem 0
  background-color var(--board-bg-color)
  transition background-color .2s ease-in-out
  border-radius 0.5rem
  z-index 3
  -webkit-box-shadow 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)
  box-shadow 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)

.layout-panel
  box-sizing border-box
  padding-left 10%
  padding-right 10%

@media (max-width: 767px)
  .layout-panel
    padding-left 2rem
    padding-right 2rem

@media (max-width: 424px)
  .layout-panel
    padding-left 1rem
    padding-right 1rem
